
/*Inicio do Banner do Principal */
.hero-section {
    position: relative;
    background: #fff;
    padding-bottom: -1rem;
    padding: 80px 0;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    overflow: hidden;
}

/* Área amarela com recorte curvo */
.hero-yellow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background: #FFD400;
    clip-path: ellipse(95% 95% at 100% 55%);
    z-index: 1;
}

/* Aba preta apenas no canto inferior esquerdo */
.hero-black {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 6%;
    height: 85%;
    background: #000;
    z-index: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.persona-img {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 420px;
    padding-bottom: 0rem;
    margin-bottom: -1rem;
    margin-top: 5rem;
}

.form-box {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.fw-bold {
    font-weight: 700 !important;
    font-family: 'DM Sans';
    font-size: 37px;
    text-align: left;
}

.mb-4 {
    font-family: 'DM Sans';
    font-size: 25px;
}

@media (max-width: 1200px) { 
  .hero-black {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 3%;
    height: 85%;
    background: #000;
    z-index: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

  .persona-img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 420px;
    padding-bottom: 0rem;
    margin-bottom: -20rem;
    margin-top: 0rem;
}
}

@media (min-width: 1200px) { 
  .hero-black {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 3%;
    height: 85%;
    background: #000;
    z-index: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

  .persona-img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 420px;
    padding-bottom: 0rem;
    margin-bottom: -10rem;
    margin-top: 0rem;
}
}

@media (min-width: 1500px) { 
  .hero-black {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 6%;
    height: 85%;
    background: #000;
    z-index: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

  .persona-img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 420px;
    padding-bottom: 0rem;
    margin-bottom: -4rem;
    margin-top: 0rem;
}
}


@media (max-width: 992px) {

    .hero-yellow {
        
        width: 100%;
        height: 100%;
        /*clip-path: polygon(0% 45%, 100% 0%, 100% 100%, 0% 100%);*/
        clip-path: ellipse(110% 101% at 100% 100%);
    }

    .hero-section {
    position: relative;
    background: #fff;
    padding-bottom: -1rem;
    padding: 80px 0;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    overflow: hidden;
    margin-top: -3rem;
}


    .persona-img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 420px;
    padding-bottom: 0rem;
    margin-bottom: -2rem;
    margin-top: 0rem;
}

    .hero-black {
        width: 0%;
        height: 0%;
        clip-path: none;
        border-bottom-left-radius: 80px;
    }
}

.text-center {
    text-align: center !important;
    margin-bottom: -25px;
}

.form__cadastro {
    text-align: center;
}

/* --- MOBILE ATÉ 991PX --- */
@media (max-width: 992px) {

    /* Força o container a empilhar na vertical */
    .hero-content .row {
        display: flex;
        flex-direction: column;
    }

    /* Texto primeiro */
    .hero-content .col-lg-4:nth-child(1) {
        order: 1;
    }

    /* Formulário vem em segundo */
    .hero-content .col-lg-4:nth-child(3) {
        order: 2;
    }

    /* Persona vem por último */
    .hero-content .col-lg-4:nth-child(2) {
        order: 3;
    }

    /* Ajuste de margens da persona */
    .persona-img {
        margin-top: 30px;
        margin-bottom: -7px;
        max-width: 330px;
    }
}

/*fim do banner principal*/

a {
    text-decoration: none;
}