@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');


.cta__final {
    text-align: justify;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-left: 1rem;
    line-height: 1.4;
    max-width: 550px;
    /* controla a largura da linha */
}

.flex-lg-row-reverse {
    flex-direction: row-reverse !important;
    background-color: #fff;
    margin-bottom: -5rem;
}

.banner__sobrenos {
    margin-bottom: -1rem;
}


.btn-registro {
    display: block;
    background: #000;
    color: #FFE200;
    padding: 10px 0;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 2rem;
    width: 70%;
    margin: 0 auto;
    /* <-- centraliza horizontalmente */
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.btn-registro:hover {
    background: #FFE200;
    color: #000;
}

.btn-fale {
    display: block;
    background: #FFE200;
    color: #000;
    padding: 10px 0;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 2rem;
    width: 70%;
    margin: 0 auto;
    /* <-- centraliza horizontalmente */
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.btn-fale:hover {
    background: #000;
    color: #FFE200;
}




@media (max-width: 768px) {
    .banner__sobrenos {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 20rem;
    }
}

@media (min-width: 768px) {
    .banner__sobrenos {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 26rem;
    }
}

@media (min-width: 1280px) {
    .banner__sobrenos {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 35rem;
    }
}

@media (min-width: 1400px) {
    .banner__sobrenos {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 40rem;
    }
}

@media (min-width: 1800px) {
    .banner__sobrenos {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 50rem;
    }
}




