
.servicos-carousel {
  text-align: center;
  padding: 50px 0;
}

.servicos-carousel h2 {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #222;
}

.carousel-servicos .card-servico {
  background: #fff;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 10px 15px 20px;
  text-align: center;
  margin: 0 10px;
  width: 50%;
}

.carousel-servicos .card-servico img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.carousel-servicos h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #222;
}

    .botao__cadastro {
        display: block;
        background: #FFE200;
        color: #000;
        padding: 10px 0;
        font-weight: 600;
        border-radius: 6px;
        text-decoration: none;
        transition: 0.3s;
        border-radius: 2rem;
        width: 40%;
        margin: 0 auto; /* <-- centraliza horizontalmente */
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
}

.botao__cadastro:hover {
  background: #000;
  color: #FFE200;
}

/* Se quiser personalizar bolinhas */
.slick-dots li button:before {
  font-size: 10px;
  color: #888;
}

.slick-dots li.slick-active button:before {
  color: #000;
}


/* Banner qualidades da empresa */

.qualidades {
text-align: left;
padding: 1rem;
}

.qualidades__texto {
text-align: left;
font-size: 18px;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
padding: 1rem;
}

.banner__qualidades {
    border-radius: 1rem;
   
}

.secao-qualidades .banner__qualidades {
    border-radius: 1rem;
    height: 100%;
    margin-top: -2rem;
    margin-bottom: -2rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

