@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

body {
    color: #FFFFFF;
}


.navbar {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
}

.navbar-brand {
    padding-left: 50px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 6rem;
}

.navbar-expand-lg .navbar-collapse {
    padding-right: 60px;
    margin: 20px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #D9D9D9;
    color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}

a {
    color: #1ebe5b;
}

.dropdown-item {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.btn-whatsapp {
    background-color: #4CAF50;
    border-color: #25D366;
    color: #ffffff;
}

.btn-whatsapp:hover {
    background-color: #1ebe5b;
    border-color: #1ebe5b;
    color: #ffffff;
}

.btn-success {
    border-radius: 2rem;
}

.botao {
    background-color: #25D366;
    color: #FFFFFF;
    border-radius: 30px;
    border-width: thin;
    border-width: 0px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: dashed;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/*fim do menu header */

.hero-section {
    position: relative;
    background: #fff;
    padding-bottom: -1rem;
    padding: 80px 0;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    overflow: hidden;
}

/* Área amarela com recorte curvo */
.hero-yellow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background: #FFD400;
    clip-path: ellipse(95% 95% at 100% 55%);
    z-index: 1;
}

/* Aba preta apenas no canto inferior esquerdo */
.hero-black {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 6%;
    height: 85%;
    background: #000;
    z-index: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.persona-img {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 420px;
    padding-bottom: 0rem;
    margin-bottom: -1rem;
}

.form-box {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.fw-bold {
    font-weight: 700 !important;
    font-family: 'DM Sans';
    font-size: 37px;
    text-align: left;
}

.mb-4 {
    font-family: 'DM Sans';
    font-size: 25px;
}


@media (max-width: 991px) {
    .hero-yellow {
        width: 100%;
        height: 65%;
        clip-path: polygon(0% 55%, 100% 0%, 100% 100%, 90% 100%);
    }

    .persona-img {
        margin-top: 20px;
    }

    .hero-black {
        width: 100%;
        height: 40%;
        clip-path: none;
        border-bottom-left-radius: 80px;
    }
}

.text-center {
    text-align: center !important;
    margin-bottom: -25px;
}

/*fim do banner principal*/

/*Início-Banner institucional Marcio Menegetti*/



@media (max-width: 768px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 1200px) {
  
}


@media (max-width: 375px) {
    .display {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Khula', sans-serif;;
        margin-top: 0rem;
        margin-bottom: 0rem;
        text-align: center;
        margin-left: 0rem;
    }
    .texto {
        text-align: justify;
        font-size: 14px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        margin-left: 2rem;
        margin-right: 2rem;
        font-family: Montserrat;
    }
}

@media (min-width: 376px) {
    .display {
        font-size: 22px;
        font-weight: 800;
        font-family: 'Khula', sans-serif;;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 1rem;
    }

    .texto {
        text-align: justify;
        font-size: 18px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-family: Montserrat;
    }
}


@media (min-width: 576px) {
    .display {
        font-size: 25px;
        font-weight: 700;
        font-family: 'Khula', sans-serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 1rem;
        
    }

    .texto {
        text-align: justify;
        font-size: 20px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        margin-left: 2rem;
        margin-right: 2rem;
        font-family: Montserrat;
    }
}

@media (min-width: 768px) {
    .display {
        font-size: 32px;
        font-weight: 800;
        font-family: 'Khula', sans-serif;;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 2rem;
    }

    .texto {
        text-align: justify;
        font-size: 24px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        margin-left: 2rem;
        margin-right: 2rem;
        font-family: Montserrat;
    }
}


@media (min-width: 992px) {
    .display {
        font-size: 28px;
        font-weight: 800;
        font-family: 'Khula', sans-serif;
        margin-top: 0rem;
        margin-bottom: 0rem;
        text-align: center;
        margin-left: 1rem;
    }
    .texto {
        text-align: justify;
        font-size: 18px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .d-block {
        width: 125%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-right: 2rem;
    }
}

@media (min-width: 1200px) {
    /*
    .col-lg-6 {
        margin-top: 0rem;
    }*/
}

@media (min-width: 1400px) {
    .texto {
        text-align: justify;
        font-size: 18px;
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
        margin-left: 5rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .d-block {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    .display {
        font-size: 35px;
        font-weight: 800;
        font-family: 'Khula', sans-serif;;
        margin-top: 0rem;
        margin-bottom: 2rem;
        text-align: left;
        margin-left: 8rem;
        }
    
    .botao__cadastro {
        background-color: #FFE200;
        color: #FFFFFF;
        border-radius: 50px;
        border-width: thin;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
        }
    }

/*Dimensões da banner home-page*/

.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    background-color: #EBEBE4;
}

/*Dimensões da banner home-page*/

/*border-radius img do banner home-page */
.mx-auto {
    border-radius: 5px;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
    display: flex;
    justify-content: center;
}
/*ajuste botão__cadastro*/

@media (min-width: 1200px) {
    .botao__cadastro {
        background-color: #FFE200;
        color: #000;
        border-radius: 50px;
        border-width: thin;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
    }
}

@media (min-width: 992px) {
    .botao__cadastro {
        background-color: #FFE200;
        color: #000;
        border-radius: 50px;
        border-width: thin;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
    }
}

@media (min-width: 768px) {
    .botao__cadastro {
        background-color: #FFE200;
        color: #000;
        border-radius: 50px;
        border-width: thin;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
    }
}

@media (min-width: 576px) {
    .botao__cadastro {
        background-color: #FFE200;
        color: #000;
        border-radius: 50px;
        border-width: thin;
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
    }
}

@media (min-width: 376px) {
    .botao__cadastro {
        background-color: #FFE200;
        color: #000;
        border-radius: 50px;
        border-width: thin;
        font-family:'DM Sans', sans-serif ;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
    }
}

@media (max-width: 376px) {
    .botao__cadastro {
        background-color: #FFE200;
        color: #FFFFFF;
        border-radius: 50px;
        border-width: thin;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-decoration: dashed;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10rem;
    }
}


.servicos-carousel {
  text-align: center;
  padding: 50px 0;
}

.servicos-carousel h2 {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #222;
}

.carousel-servicos .card-servico {
  background: #fff;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 10px 15px 20px;
  text-align: center;
  margin: 0 10px;
  width: 50%;
}

.carousel-servicos .card-servico img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.carousel-servicos h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #222;
}

.btn-saiba {
  display: block;
  background: #ffc200;
  color: #222;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 2rem;
  width: 70%;
  margin: 0 auto; /* <-- centraliza horizontalmente */
  text-align: center;
}

.btn-saiba:hover {
  background: #e6a900;
}

/* Se quiser personalizar bolinhas */
.slick-dots li button:before {
  font-size: 10px;
  color: #888;
}

.slick-dots li.slick-active button:before {
  color: #000;
}


/* Banner qualidades da empresa */

.qualidades {
text-align: left;
padding: 1rem;
}

.qualidades__texto {
text-align: left;
font-size: 18px;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
padding: 1rem;
}

.banner__qualidades {
    border-radius: 1rem;
   
}

.secao-qualidades .banner__qualidades {
    border-radius: 1rem;
    height: 100%;
    margin-top: -2rem;
    margin-bottom: -2rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}