@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');

body {
  color: #FFFFFF;
}


.navbar {
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  padding-left: 50px;
}

.navbar-expand-lg .navbar-collapse { 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 6rem;
}

.navbar-expand-lg .navbar-collapse {
  padding-right: 60px;
  margin: 20px;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: #D9D9D9;
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
    }
    a {
        color: #1ebe5b;
    }

.dropdown-item {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.btn-whatsapp {
  background-color: #4CAF50;
  border-color: #25D366;
  color: #ffffff;
}

.btn-whatsapp:hover {
  background-color: #1ebe5b;
  border-color: #1ebe5b;
  color: #ffffff;
}

.btn-success {
    border-radius: 2rem;
}

.botao {
    background-color: #25D366;
    color: #FFFFFF;
    border-radius: 30px;
    border-width: thin;
    border-width: 0px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: dashed;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}