@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');


.banner_sobre__nos {
    background-color: #FFE200;
    color: #000;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;  /* centraliza horizontal */
    align-items: center;      /* centraliza vertical */
    text-align: center;
}

.sobre__nos {
    font-family: 'Khula', sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin: 0; /* garante centralização perfeita */
}

.texto {
    padding-bottom: 25rem;
}