
/* Rodape */

.footer {
  background-color: #000; /* Fundo preto do rodapé */
  color: #fff; /* Texto branco */
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 0.82rem;
  line-height: 1.3;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.footer-col {
  flex: 1 1 30%;
  min-width: 220px;
}

/* Alinhamentos */
.col-left {
  text-align: left;
  padding-top: 0rem;
}

.col-center {
  text-align: center;
  padding-top: 0rem;
}

.col-right {
  text-align: right;
  padding-top: 0rem;
}

h6 {
  font-weight: 600;
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
}

p,
li,
a {
  font-size: 0.82rem;
  margin: 0.2rem 0;
  line-height: 1.3;
}

p.fw-semibold {
 font-weight: 600;
 padding-top: 1rem;
 font-size: 18px;
 font-family: 'DM Sans', sans-serif;
}


.telefone {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
} 

.email {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.titulos_rodape {
    font-family: 'DM Sans', sans-serif;
}


a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0.5rem;
}

ul li {
  margin-bottom: 0.3rem;
}

.icons {
  font-size: 1.2rem;
  display: inline-flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 0.2rem;
}

.icons a {
  color: white;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #ccc;
}

hr {
  border: 0;
  border-top: 1px solid #333;
  margin: 0.7rem 0 0.7rem 0;
}

.footer-bottom {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff; /* Texto inferior em cinza claro */
  padding-top: 0.5rem;
  font-family: 'DM Sans', sans-serif;
}

img.reclame-aqui {
  max-width: 110px;
  margin-top: 0.2rem;
}

/* Estilo apenas para os links do rodapé */
footer.footer a {
  padding-bottom: 1rem;
  font-size: 15px;
  color: #ffffff; /* cor padrão do texto */
  text-decoration: none; /* sem sublinhado */
  transition: color 0.3s ease;
}

footer.footer a:hover {
  color: #FFE200; /* cor ao passar o mouse */
  text-decoration: auto;
  font-family: 'DM Sans', sans-serif;
}

.rodape_link {
    padding: 10px;
}

/* Responsividade */
@media (max-width: 767px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    min-width: 100%;
  }
  .col-center {
    margin-bottom: 1rem;
  }
  .col-right {
    text-align: left;
  }
}